.header{
    height: 150px;   
    background-color: rgba(0, 255, 255);
    background-image: url("../img/pattern.png");
    
}

#logo{
    width: 300px;
    margin-left: 25px;
    margin-top: 50px;
}

.titolo{
    font-size: 50px;
}

