.header{
    height: 150px;   
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    
}

#logo{
    width: 300px;
    margin-left: 25px;
    margin-top: 50px;
}

.titolo{
    font-size: 50px;
}

#info-autore{
    margin-top: -30px;
    font-size: 15px;
}

.autore{
    color:  #4ea0ff; ;
}

#data-articolo{
    margin-top: -10px;
    font-size: 12px;
}

#tim1 {
    width: 50%;
}

#tim2 {
    width: 50%;
}

div p{
    font-size: 10px;
    margin-bottom: -10px;
}

#yellow-text{
    background-color: sandybrown;
}